[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Suzu Maintainers
[access "refs/heads/*"]
	create = group Sony Suzu Maintainers
	push = +force group Sony Suzu Maintainers
	pushMerge = group Sony Suzu Maintainers
	label-Code-Review = -2..+2 group Sony Suzu Maintainers
	label-Verified = -1..+1 group Sony Suzu Maintainers
	submit = group Sony Suzu Maintainers
