[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Loire Maintainers
	pushMerge = group Sony Suzu Maintainers \t 
[access "refs/heads/*"]
	create = group Sony Common Maintainers
	create = group Sony Loire Maintainers
	create = group Sony Suzu Maintainers \t 
	push = +force group Sony Common Maintainers
	push = +force group Sony Loire Maintainers
	push = +force group Sony Suzu Maintainers \t 
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Loire Maintainers
	pushMerge = group Sony Suzu Maintainers \t 
	label-Code-Review = -2..+2 group Sony Common Maintainers
	label-Code-Review = -2..+2 group Sony Loire Maintainers
	label-Code-Review = -2..+2 group Sony Suzu Maintainers \t 
	label-Verified = -1..+1 group Sony Common Maintainers
	label-Verified = -1..+1 group Sony Loire Maintainers
	label-Verified = -1..+1 group Sony Suzu Maintainers \t 
	submit = group Sony Common Maintainers
	submit = group Sony Loire Maintainers
	submit = group Sony Suzu Maintainers \t 
